.main {
    height: 1200px;
    padding: 10px;
    background-color: whitesmoke;
}

.home {
    justify-content: space-around;
    display: flex;
    align-items: center;
    border-radius: 7px;
}

nav {
    justify-content: space-around;
    display: flex;
    align-items: center;
    min-height: 6vh;
}

.footerCustom {
    position: absolute;
    width: 100%;
    bottom: 10px;
    justify-content: center;
    padding: 10px;
    height: 40px;
    border-radius: 0.3em;
    background-color: rgba(255, 255, 255, 0.952);
}

.nav-header {
    font-size: 150%;
    font-weight: bold;
    color: black;
}

.nav-link {
    color: black;
}

.list-button {
    border: none;
    padding: 0;
    background: none;
}

/* .lang-char-div {
    display: flex;
    justify-content: space-around;
    height: 700px;
    width: 1000px;
} */

.chart {
    background-color: white;
    padding: 10px;
    align-content: center;
    height: 450px;
}
