.main {
  height: 100vh;
  padding: 10px; 
}

nav {
  justify-content: space-around;
  display: flex;
  align-items: center;
  min-height: 6vh;
  background-color: teal;
}

.nav-header {
  font-size: large;
  font-weight: bold;
  color: black;
}


.nav-link {
  color: black;
}

